{% extends "layout.html" %}

{% block title %}
    Current Portfolio
{% endblock %}

{% block main %}

    <table>
        <tr><h3>Stock buy/sell History</h3></tr>
        <tr>
            <th>Stock Name</th>
            <th>Symbol</th>
            <th>Shares</th>
			<th>Time</th>
			<th>Buy/Sell</th>
            <th>Value (Rs)</th>
            <th>Total Value (Rs)</th>
        </tr>
        
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.stockName }}</td>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.numShares }}</td>
			<td>{{ stock.time }}</td>
	        <td>{{ stock.ops }}</td>
            <td>{{ "{:,.4f}".format(currentPrices[loop.index0]) }}</td>
            <td>{{ "{:,.2f}".format(currentValues[loop.index0]) }}</td>
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}
